.container {
    position: sticky;
    top: 0;
    transition: min-width .3s ease, width .3s ease; /* Добавление transition для width */
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgba(238, 238, 244, 0.45);
    z-index: 999;
}
