.container_nonPage {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container_info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.text {
    font-size: 72px;
    font-weight: 100;
    color: #3F3A3A;
    text-align: center;
}

.link {
    transition: box-shadow 0.3s, color 0.3s; /* Плавные переходы для бокс-тени и цвета */
    font-size: 32px;
    font-weight: 500;
    color: #333333;
    text-decoration: none; /* Убираем подчеркивание по умолчанию */
    display: inline-block; /* Делаем блочным элементом, чтобы можно было задать размеры */
    padding: 10px 20px; /* Задаем отступы для кнопки */
    border: 1px solid; /* Прозрачная граница до наведения */
    box-shadow: 0px 0px 0px 3px #FFFFFF; /* Бокс-тень для выделения */
    border-radius: 10px; /* Скругляем углы кнопки */
}

.link:hover {
    color: #111111;
    box-shadow: 0px 0px 0px 3px #333333; /* При наведении меняем бокс-тень */
    border-color: #333333; /* Появление цветной границы */
}

.image {
    bottom: 0;
    width: 100%;
}

/*.container_nonEXPAGE {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin: 0 auto;*/
/*    flex-direction: column;*/
/*    height: 100vh;*/
/*}*/
/*.text {*/
/*    font-size: 24px;*/
/*    text-align: center;*/
/*    margin-bottom: 20px;*/
/*    padding: 20px; !* Добавим внутренний отступ *!*/
/*    border: 1px solid #ffc6ff; !* Добавим рамку *!*/
/*    border-radius: 8px; !* Закруглим углы рамки *!*/
/*    background-color: #e7abe7; !* Легкий фон *!*/
/*    color: #fff;*/
/*}*/
/*.img {*/
/*    width: 55px;*/
/*}*/
/*.link {*/
/*    text-decoration: none;*/
/*    background-color: #e7abe7;*/
/*    color: #fff;*/
/*    font-size: 18px;*/
/*    padding: 10px 20px;*/
/*    border-radius: 5px;*/
/*    transition: background-color 0.3s;*/
/*    margin-top: 20px;*/
/*}*/

/*.link:hover {*/
/*    background-color: #e789e7;*/
/*}*/