.container_nonEXPAGE {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    height: 100vh;
}
.text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px; /* Добавим внутренний отступ */
    border: 1px solid #ffc6ff; /* Добавим рамку */
    border-radius: 8px; /* Закруглим углы рамки */
    background-color: #e7abe7; /* Легкий фон */
    color: #fff;
}
.img {
    width: 55px;
}
.link {
    text-decoration: none;
    background-color: #e7abe7;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.link:hover {
    background-color: #e789e7;
}