/* Modal.module.css */

/* Стили для вкладок */
.tabs {
    overflow: hidden;
    width: 100%;
}

.tab {
    width: 50%;
    background-color: #f2f2f2;
    float: left;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-bottom: none;
}

.tab:hover {
    background-color: #ddd;
}

.tab.active {
    background-color: #fff;
}

/* Стили для содержимого вкладок */
.tabContent {
    display: none;
    padding: 0 20px;
    border: 1px solid #ccc; /* Добавляем границу для контейнера с содержимым вкладок */
}

/* Показывать активную вкладку */
.tabContent.active {
    display: block;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    border-bottom: 1px solid #ccc; /* Добавляем границу снизу для кнопок пользователей */
}

.user:last-child {
    border-bottom: none; /* Убираем границу снизу у последнего пользователя */
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 35%;
    object-fit: cover;
}
.noSearch {
    padding: 20px;
}
.buttonCreate {
    transition: background-color .3s;
    background-color: #3F3A3A;
    color: #fff;
    padding: 5px 10px;
    border: 1px transparent solid;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}
.buttonCreate:hover {
    background-color: #fff;
    color: #3f3a3a;
    border: 1px solid grey;
}