.container_info_chat {
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-left: none;
    display: flex;
    justify-content: space-between;
    height: 71px;
    gap: 20px;
    padding: 0 20px 0 20px;
    background: rgba(136, 136, 136, 0.10);
}
.image {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 30px;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.info_chat {
    min-width: 260px;
    display: flex;
    align-items: center;
    gap: 20px
}
.container_button {
    display: flex;
    align-items: center;
    gap: 20px;
}
.button_search {
    width: 32px;
    height: 32px;
    background: url("/public/assets/icons/navbar/search-icon.svg") no-repeat center center; /* Путь к изображению */
    cursor: pointer;
}
.dots {
    background: url("/public/assets/icons/messages/dots.svg") no-repeat center center;
    width: 32px;
    height: 32px;
    cursor: pointer;
}