/* FriendsPage.module.css */

.friendsPage {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 600px;
    width: 60%;
    margin: 0 auto;
}

.container_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.pageTitle {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.activeTab {
    background-color: #333;
    color: white;
}

.inactiveTab {
    background-color: #f0f0f0;
    color: #333;
}

.tabs button {
    padding: 10px 20px;
    border: 2px solid transparent;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.3s;
    font-size: 16px;
}

.tabs button:hover {
    border-color: #0073e6;
}

.tabs button.active {
    border-color: #0073e6;
}

.searchBar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px 12px;
}

.friendCount {
    font-size: 18px;
    color: #333;
}

.friendList {
    list-style: none;
    padding: 0;
    margin-left: 0;

}

.friendItem {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Добавь другие стили согласно своим требованиям */
.noFriends {
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
}