/* FriendRequestsList.module.css */
.friendRequestsList {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}
.center {
    display: block;
    width: 100%;
    text-align: center;
}
.requestInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #eee;
    margin: 5px 0;
}
.image {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 100%;
}
.requestButtons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.acceptButton {
    transition: .2s filter;
    background: url("/public/assets/icons/friendsPage/yes.svg") no-repeat;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 10px;
}
.acceptButton:hover {
    filter: brightness(1.2);
}
.acceptButton:active {
    filter: brightness(0.8); /* Измените параметры для нужного эффекта */
}
.rejectButton {
    background: url("/public/assets/icons/friendsPage/no.svg") no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 30px;
}
.rejectButton:hover {
    filter: brightness(1.2);
}

.rejectButton:active {
    filter: brightness(0.8);
}